page-construccion-detalle {
  h2{text-transform: uppercase;}
  .referencia{text-align: right;font-size: 75%!important;}
  th{font-size: 150%!important;padding: 15px;}
  th, td {border-bottom: 1px solid #ddd;}

}
