<!--
  Generated template for the FiltrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="logotop text-center"><img src="../assets/img/logo-DDHH.svg" class="imgSVG" alt="imagen SVG" title="imagen SVG" width="160" /></ion-title>
  </ion-navbar>
    
    <ion-toolbar>
    <ion-title>Filtros</ion-title>
  </ion-toolbar>

    <ion-toolbar>
      <ion-buttons end>
      <button ion-button (click)="cerrar()">
        <!-- Advanced: explicity set the icon for each platform -->
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="limpiar()">
        <!-- Advanced: explicity set the icon for each platform -->
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-buttons>
    </ion-toolbar>
    


  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="filtros">
      <ion-segment-button value="instituciones">
        Instituciones
      </ion-segment-button>
      <ion-segment-button value="población">
        Población
      </ion-segment-button>
      <ion-segment-button value="derechos">
        Derechos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="filtros">
    <ion-list *ngSwitchCase="'instituciones'">
      <ion-item *ngFor="let filtro of filtrosInstituciones">
        <ion-label>{{filtro.nombre}}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'población'">
      <ion-item *ngFor="let filtro of filtrosPoblaciones">
        <ion-label>{{filtro.nombre}}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'derechos'">
      <ion-item *ngFor="let filtro of filtrosDerechos">
        <ion-label>{{filtro.nombre}}</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
