// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$color1:    #3faa84;
$color2:  #72a0d5;
$color3:     #66cc99;
$color4:      #a8bdd1;
$color5:       #586a93;


$colors: (
  primary:    $color1,
  secondary:  $color2,
  danger:     $color3,
  light:      $color4,
  dark:       $color5
);





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";

// In order to make icons work and not break ionic icons, change ionic.ionicons to ionicons
//@import "ionic.ionicons";
@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


.btnhome{
  font-size: 0.9em !important; font-weight: normal !important; text-align: center!important; text-transform: capitalize !important; padding: 23px 0 !important; height: 126px!important; overflow: hidden!important;
}
.btnhome .button-inner{display: block!important;}
.btnhome ion-icon{display: block!important;}
.button-block{contain:inherit!important}

 .text-center .toolbar-title{text-align: center!important;} 
 .tabbar{background: $color5!important;}
 .tab-button-text{color: #fff;}
 .tab-button-icon:before{color: #fff;}
 .toolbar-title{text-align: left!important;}
 .back-button-icon-ios { font-size: 2rem!important;}
  .bar-button-ios {font-size: 1.5rem!important;}
  .back-button .button-inner{color: $color5;}
  .toolbar-ios ion-title{padding: 0 14px 1px!important;}
  ion-title.logotop{top: 10px!important;}

  .tabtitle{padding: 0; height: inherit!important;width: inherit!important;}
  .tabtitle .toolbar-title{font-size: 1.3rem !important; color: #fff !important;  font-weight: normal; padding: 4px 40px 4px 17px;width: inherit!important; height: inherit!important;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  }
.tabtitle.toolbar-ios ion-title{width: inherit!important; height: inherit!important;}
 .tabtitle.color1 ion-title{background-color: $color1;}
 .tabtitle.color2 ion-title{background-color: $color2;}
 .tabtitle.color3 ion-title{background-color: $color3;}
 .tabtitle.color4 ion-title{background-color: $color4;}

  



