// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$color1:  #009a70;
$color2:  #3591bb;
$color3:  #00aa94;
$color4:  #76acb6;
$color5:  #586a93;
$color6:  #c6313b;
$color7:  #0AB09A;
$color8:  #0297B3;
$color9:  #CD7B28;
$color10: #922D46;
$gris:    #a6a8aa;


$colors: (
  primary:    $color1,
  secondary:  $color2,
  danger:     $color3,
  light:      $color4,
  dark:       $color5
);





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";

// In order to make icons work and not break ionic icons, change ionic.ionicons to ionicons
//@import "ionic.ionicons";
@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


.btnhome{
  font-size: 0.9em !important; font-weight: normal !important; text-align: center!important; text-transform: capitalize !important; padding: 23px 0 !important; height: 126px!important; overflow: hidden!important;
}
.btnhome .button-inner{display: block!important;}
.btnhome ion-icon{display: block!important;}
.button-block{contain:inherit!important}

 .text-center .toolbar-title{text-align: center!important;}
 .tabbar{background: $color5!important;}
 .tab-button-text{color: #fff;}
 .tab-button-icon:before{color: #fff;}
 .toolbar-title{text-align: left!important;}
 .back-button-icon-ios { font-size: 2rem!important;}
  .bar-button-ios {font-size: 1.5rem!important;}
  .back-button .button-inner{color: $color5;}

 .tabtitle.toolbar-ios ion-title{padding: 0 14px 1px!important; width: inherit!important;height: inherit!important;}
 .tabtitle .toolbar-title{font-size: 1.3rem!important;color: #fff!important;font-weight:normal;padding: 8px 40px 8px 17px;}
 .tabtitle.color1 ion-title{background-color: $color1;}
 .tabtitle.color2 ion-title{background-color: $color2;}
 .tabtitle.color3 ion-title{background-color: $color3;}
 .tabtitle.color4 ion-title{background-color: $color4;}

 .tabtitle.colorc1 ion-title{background-color: $color1;}
 .tabtitle.colorc2 ion-title{background-color: #E5832D!important;}
 .tabtitle.colorc3 ion-title{background-color: #3A568A!important;}

.tabtitle ion-title{width: 70%;-webkit-border-top-right-radius: 50px;-moz-border-radius-topright: 50px;border-top-right-radius: 50px;}

.tabtitle.color1 ion-icon:before{color: $color1;}
.chip-md, .chip-ios{background-color: $color2!important; margin: 2px!important; color: #fff!important;}
.button-clear-md-light, .button-clear-ios-light{color: #fff!important;}
.button-clear-md,.button-clear-ios{color: $gris!important;}
.ion-md-close:before,.ion-ios-close:before {vertical-align: middle; color: #fff;}
.ion-md-close,.ion-ios-close{line-height: 1.6!important;font-size: 1.6rem;}
.card  .button-inner,.card .button-inner{font-size:1.3rem;font-weight: normal;text-transform: uppercase;}

.toolbar-md{
     padding: 0!important; min-height: 0!important;
}
.tabtitle ion-title{top: 11px!important;}
.modeje {position: relative;}
.coleje1{background-color: $color6!important;}
.coleje2{background-color: $color7!important;}
.coleje3{background-color: $color8!important;}
.coleje4{background-color: $color9!important;}
.coleje5{background-color: $color10!important;}

.modeje ion-label{white-space:inherit!important;padding: 25px 40px 25px 70px; margin: 0; -webkit-border-top-left-radius: 100px;-moz-border-radius-topleft: 100px;border-top-left-radius: 100px;}
.modeje ion-label.label-md{padding: 25px 25px 0 70px;margin: 0;height: 100%;}
.coleje1 ion-label{background-color: #900305!important;}
.coleje2 ion-label{background-color: #007258!important;}
.coleje3 ion-label{background-color: #005395!important;}
.coleje4 ion-label{background-color: #a53700!important;}
.coleje5 ion-label{background-color: #4b040b!important;}

.modeje ion-label p{color: #fff!important;font-weight: 100!important;font-size: 1.2rem;text-align: center;display: block;}
.item-md.item-block .item-inner, .item-ios.item-block .item-inner{padding-right: 0!important;}
.modeje ion-avatar[item-left],.modeje ion-thumbnail[item-left],.modeje ion-avatar[item-start],.modeje ion-thumbnail[item-start] {margin: 8px 16px 8px 18px!important;}
h1,h2,h3,h4,h5,h6{color: #586b93;}
h2{font-size: 1.8rem!important;}
h1{margin-top:1.5rem!important;margin-bottom:1.5rem!important;font-size: 2.2rem!important;color:#0085a5!important;}
.scroll-content{background-color: #cde5dc!important;}
#ANTECEDENTES .scroll-content{background-color: #DCEEF4!important;}
#CONSTRUCCION .scroll-content{background-color: #FEE8D3!important;}
#RESULTADOS .scroll-content{background-color: #cde5dc!important;}
#etiquetas, #etiquetas ion-icon{color: $color1;}
.bar-button-ios ion-icon,.bar-button-md ion-icon{font-size: 2.3rem!important;}

.btn-filtro .bar-button {color: #fff !important;background-color:#009a70!important;font-size: 1.3rem !important;text-transform: capitalize!important;}
.btn-filtro .bar-button ion-icon:before{color: #fff!important;margin: 0 .6rem 0 .3rem!important;}
.toggle-md.toggle-checked .toggle-icon {
    background-color: #00986F!important;
}
  .toggle-md.toggle-checked .toggle-inner{background-color: #fff!important; border: 2px solid #009a70!important;}
  .card-md p, .card-ios p{font-size: 1.4rem!important;}
