
<ion-header>
<ion-navbar>
    <ion-title class="logotop text-center"><img src="assets/img/logo-DDHH.svg" class="imgSVG" alt="imagen SVG" title="imagen SVG" width="160" /></ion-title>
  </ion-navbar>

  <ion-toolbar class="tabtitle color1">
    <ion-title *ngFor="let item of eje">{{item.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngFor="let item of eje">
  <div id="imagen">
    <img src='{{item.imagen}}'/>
  </div>
  <div id="descripcion" padding>
    <h1>{{item.descripcion}}</h1>
  </div>
  <div id="objetivo" padding>
    <h2>Objetivo:</h2>
    <p>{{item.objetivo}}</p>
  </div>
<div id="lineasEstrategicas" padding>
  <h2>Líneas estratégicas:</h2>
  <ion-card *ngFor="let linea of item.lineasEstrategicas" (click)="lineaSeleccionada(linea,item.numero)">
    <ion-card-header>
      {{linea.titulo}}
    </ion-card-header>
    <ion-card-content>
     {{linea.descripcion}}
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
