page-linea {
ion-card-header {color: #71bbac!important; padding: 10px; font-weight: 600;}
p{font-size: 1.6rem!important;color: #272525!important;}
ion-card{margin: 12px 0!important; width: 100%!important;}
}
